[Unit]
Description=Rasp manager service
After=network.target
 
[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

ExecStart=/usr/bin/server

[Install]
WantedBy=multi-user.target
